@page
@model MegaDesk.Pages.Materials.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DesktopMaterial[0].Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesktopMaterial[0].Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DesktopMaterial) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DesktopMaterialId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DesktopMaterialId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DesktopMaterialId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
